<div id="<%= dom_id servico %>">
  <p>
    <strong>Nome:</strong>
    <%= servico.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= servico.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= servico.valor %>
  </p>

  <p>
    <strong>Horarioinicio:</strong>
    <%= servico.horarioInicio %>
  </p>

  <p>
    <strong>Horariotermino:</strong>
    <%= servico.horarioTermino %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= servico.data %>
  </p>

  <p>
    <strong>Trabalhador:</strong>
    <%= Trabalhador.find(servico.trabalhador_id).nome %>
  </p>

</div>
