<div id="<%= dom_id servico %>">
  <p>
    <strong>Nomeservico:</strong>
    <%= servico.nomeServico %>
  </p>

  <p>
    <strong>Tiposervico:</strong>
    <%= servico.tipoServico %>
  </p>

  <p>
    <strong>Dataservico:</strong>
    <%= servico.dataServico %>
  </p>

  <p>
    <strong>Horainicio:</strong>
    <%= servico.horaInicio %>
  </p>

  <p>
    <strong>Horafinal:</strong>
    <%= servico.horaFinal %>
  </p>

  <p>
    <strong>Descricaoservico:</strong>
    <%= servico.descricaoServico %>
  </p>

  <p>
    <strong>Valorservico:</strong>
    <%= servico.valorServico %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= servico.endereco_id %>
  </p>

</div>
