<div id="<%= dom_id servico %>">
  <p>
    <strong>Nome:</strong>
    <%= servico.nome %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= servico.tipo %>
  </p>

  <p>
    <strong>Horainicio:</strong>
    <%= servico.horaInicio %>
  </p>

  <p>
    <strong>Horafinal:</strong>
    <%= servico.horaFinal %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= servico.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= servico.valor %>
  </p>

</div>
