<h1>Bem vindo ao sistema!</h1>

<% if cliente_signed_in? %>
  <li><%= current_cliente.nome %></li>
  <li><%= link_to "Minha conta", edit_cliente_registration_path%></li>
  <li><%= link_to "Sair", destroy_cliente_session_path, method: :delete %></li>
<% elsif trabalhador_signed_in? %>
  <li><%= current_trabalhador.nome %></li>
  <li><%= link_to "Minha conta", edit_trabalhador_registration_path%></li>
  <li><%= link_to "Sair", destroy_trabalhador_session_path, method: :delete %></li>
<% elsif admin_signed_in? %>
  <h2>O que deseja fazer, <%= current_admin.nome %>?</h2>
  <li><%= link_to "Minha conta", edit_admin_registration_path%></li>
  <li><%= link_to "Sair", destroy_admin_session_path, method: :delete %></li>
<% else %>
  <ul>
    <li><%= link_to "Entrar como cliente", new_cliente_session_path%></li>
    <li><%= link_to "Entrar como trabalhador", new_trabalhador_session_path%></li>
    <li><%= link_to "Entrar como admin", new_admin_session_path%></li>
    <li><%= link_to "Cadastro de novo Cliente", new_cliente_registration_path %></li>
    <li><%= link_to "Cadastro de novo Trabalhador", new_trabalhador_registration_path %></li>
    <li><%= link_to "Cadastro de novo admin", new_admin_registration_path %></li>
  </ul>
<% end %>