<div id="<%= dom_id trabalhador %>">
  <p>
    <strong>Nomecompleto:</strong>
    <%= trabalhador.nomeCompleto %>
  </p>

  <p>
    <strong>Datanasc:</strong>
    <%= trabalhador.dataNasc %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= trabalhador.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= trabalhador.email %>
  </p>

</div>
