<h1>Trabalhadores</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
  </tr>
  </thead>

  <tbody>
  <% @trabalhadors.each do |trabalhador| %>
    <tr>
      <td><%= trabalhador.nome %></td>
      <td><%= link_to 'Exibir', trabalhadors_show_path(:id => trabalhador.id)  %></td>
      <td><%= link_to "Deletar", trabalhadors_delete_path(:id => trabalhador.id), data: { confirm: "Tem certeza?" } %></td>
      <td><%= link_to 'Listar servicos', trabalhador_listagem_path(trabalhador)%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', root_path %>