<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @trabalhador.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @trabalhador.cpf %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @trabalhador.profissao %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trabalhador.email %>
</p>

<%= link_to 'Back', trabalhadors_index_url%>